:root {
  --primary-color: hsl(0, 1%, 43%);
  --secondary-color: #1f1f1f;
  --background-color: #141414;
  --text-color: hsl(0, 0%, 100%);
  --hover-color: hsl(75, 94%, 57%);
  --font-family: "Inter", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0%;
  font-size: 14px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  background-color: var(--secondary-color);
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

img {
  border-radius: 50%;
  width: 20%;
  margin-top: 20px;
}

.name {
  margin-top: 20px;
  font-size: 1.5rem;
}

.townAndCountry {
  color: hsl(75, 94%, 57%);
  font-size: 0.85rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work {
  color: var(--primary-color);
  margin-bottom: 20px;
}

button {
  width: 80%;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.lastBtn {
  margin-bottom: 20px;
}

@media (max-width: 880px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 80%;
  }
}
